Agente Redes Sociales — Corresponsables.json
{
  "name": "Agente Redes Sociales — Corresponsables",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.data.createPost.__typename }}",
              "rightValue": "PostActionSuccess",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3de10aa-371f-454f-a9b7-6ff9c726bdb8",
      "name": "🔀 IF — LinkedIn OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.data.createPost.__typename }}",
              "rightValue": "PostActionSuccess",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "423638ea-9b09-4b1a-9dc1-d908c1f919c9",
      "name": "🔀 IF — Facebook OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.data.createPost.__typename }}",
              "rightValue": "PostActionSuccess",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1f1a70b-847d-4807-a421-c3db7cbe193a",
      "name": "🔀 IF — X OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        352
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "filterByFormula": "=AND({Estado}=\"✅ Publicado\", {Post LinkedIn}=\"\")",
        "options": {
          "fields": [
            "Título periodístico",
            "Subtítulo",
            "Etiquetas",
            "Highlights",
            "Categoría NAE",
            "Categoría ESG",
            "Categoría ODS",
            "Cuerpo del contenido en HTML",
            "Description",
            "URL",
            "Estado"
          ]
        }
      },
      "id": "0678bc1d-9147-4252-bad5-9985b997d3fe",
      "name": "📋 Airtable — Buscar pendientes",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1232,
        656
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Eres el redactor de LinkedIn de Corresponsables.com, medio líder en Iberoamérica sobre RSE, ESG, Sostenibilidad y ODS. Tu objetivo es generar posts que maximicen el engagement (likes, comentarios, comparticiones y clics) entre una audiencia profesional: Direcciones de RSE/Sostenibilidad y de comunicación corporativa.\n\nESTRUCTURA OBLIGATORIA:\n1. Primera línea: dato o afirmación de impacto en negrita unicode, sola, sin preámbulos. Si es una entrevista o artículo, puede ser una declaración, pero entonces debe ir entrecomillada. Idealmente, puedes usar el título recibido en el user prompt. Al final de esta línea añade: 👉 [URL]\n2. Pregunta retórica o contexto brevísimo (1-2 frases)\n3. Cuerpo: 3-4 puntos clave con emoji o flecha unicode delante \n   (🔹, 🌍, 📊, ➤, ➜, ▶, →, ⟶, ›, », ▷, ☛...)\n4. Si CATEGORÍA NAE es \"Entrevistas\": OBLIGATORIO mencionar al entrevistado, siempre que lo sepas. Nunca lo inventes. Extrae su nombre, cargo y empresa del SUBTÍTULO y añade una frase como: \"Así lo explica [nombre], [cargo] de [empresa].\"\n   Si CATEGORÍA NAE es \"Opinión\": OBLIGATORIO mencionar al autor, siempre que lo sepas. Nunca lo inventes. Extrae su nombre y cargo del SUBTÍTULO.\n   Si CATEGORÍA NAE es \"Noticias\": omite este punto completamente.\n5. CTA directo (pide compartir, comentar y/o reflexionar)\n6. Entre 5 y 7 hashtags al final, incluyendo siempre #Corresponsables #ESG #Sostenibilidad #RSE. Puedes guiarte por las etiquetas que recibes en el user prompt.\n7. Finaliza con una frase tipo \"Sigue leyendo en @Corresponsables 👉 [URL]\"\n\nESTILO:\n- Frases cortas. Párrafos de máximo 2-3 líneas con salto entre ellos\n- Lenguaje profesional pero dinámico, nunca excesivamente formal\n- Conecta con roles específicos cuando aplique: \"Si eres Dirse...\"\n- La primera línea escríbela en negrita unicode. Ejemplo:\n  \"𝗥𝗲𝗱𝘂𝗰𝗶𝗿 𝗹𝗮 𝗵𝘂𝗲𝗹𝗹𝗮 𝗱𝗲 𝗰𝗮𝗿𝗯𝗼𝗻𝗼 𝘆𝗮 𝗻𝗼 𝗲𝘀 𝗼𝗽𝗰𝗶𝗼𝗻𝗮𝗹. 👉 URL\"\n- Emojis como marcadores visuales, no decorativos (máximo 6)\n- Nunca uses \"En un mundo donde...\" ni cierres genéricos corporativos\n\nNORMAS ESTRICTAS:\n- Máximo 1.000 caracteres en total (incluyendo hashtags y URL)\n- Responde ÚNICAMENTE con el texto del post, sin explicaciones",
              "role": "system"
            },
            {
              "content": "=Redacta un post de LinkedIn basado en este artículo:\n\nTÍTULO: {{ $('🔍 WP — Obtener ID imagen').item.json.title.rendered }}\nSUBTÍTULO: {{ $('📋 Airtable — Buscar pendientes').item.json['Subtítulo'] }}\nDESCRIPCIÓN: {{ $('🔍 WP — Obtener ID imagen').item.json.excerpt.rendered }}\nETIQUETAS: {{ $('📋 Airtable — Buscar pendientes').item.json['Etiquetas'] }}\nCATEGORÍA NAE: {{ $('📋 Airtable — Buscar pendientes').item.json['Categoría NAE'] }}\nCATEGORÍA ESG: {{ $('📋 Airtable — Buscar pendientes').item.json['Categoría ESG'] }}\nCATEGORÍA ODS: {{ $('📋 Airtable — Buscar pendientes').item.json['Categoría ODS'] }}\nHIGHLIGHTS: {{ $('📋 Airtable — Buscar pendientes').item.json['Highlights'] }}\nAUTOR/ENTREVISTADO: {{ JSON.parse($('🖼️ WP — Obtener imagen destacada').item.json.data).title.rendered }}\nCUERPO: {{ $('🔍 WP — Obtener ID imagen').item.json.content.rendered.slice(0,1500) }}\nURL (usa esta URL exacta, no escribas [URL]): {{ $('🔍 WP — Obtener ID imagen').item.json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "538af472-44ac-46d7-b7d1-057160a49905",
      "name": "🤖 AI — Generar post redes sociales",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -224,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "T0AKp7Yll9ff7up8",
          "name": "OpenAi - Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// EXTRAER TEXTO DEL POST GENERADO POR LA IA\n// ============================================\n// La API de OpenAI puede devolver la respuesta en dos formatos distintos\n// según la versión del modelo o del nodo n8n. Con ?? probamos el primero\n// y si viene vacío o undefined, automáticamente usamos el segundo.\nconst aiResponse = \n  $input.item.json.message?.content        // Formato nuevo (gpt-4o, gpt-4)\n  ?? $input.item.json.choices?.[0]?.message?.content  // Formato legacy (completions)\n  ?? '';                                   // Fallback: string vacío si falla todo\n\n// ============================================\n// LIMPIAR Y ESCAPAR EL TEXTO\n// ============================================\nconst postEscapado = aiResponse\n  .replace(/\\*\\*/g, '')        // Elimina asteriscos markdown (**texto**)\n  .replace(/\\\\/g, '\\\\\\\\')     // Escapa barras invertidas primero\n  .replace(/\"/g, '\\\\\"')       // Escapa comillas dobles para GraphQL\n  .replace(/\\n/g, '\\\\n')     // Escapa saltos de línea para GraphQL\n  .replace(/\\r/g, '\\\\r');    // Escapa retornos de carro para GraphQL\n\n// ============================================\n// OBTENER URL DE IMAGEN Y AUTOR DESDE WP\n// ============================================\n// El nodo WP puede devolver array o objeto directo, cubrimos ambos casos\nconst wpMedia = $('🖼️ WP — Obtener imagen destacada').item.json[0] \n  ?? $('🖼️ WP — Obtener imagen destacada').item.json;\n\n// URL permanente de la imagen destacada del post en WordPress\nconst imagenUrl = wpMedia.guid?.rendered ?? wpMedia.source_url ?? '';\n\n// Nombre del autor/entrevistado extraído del título del media en WP\nconst autor = wpMedia.title?.rendered ?? '';\n\n// ============================================\n// CONSTRUIR EL OBJETO DE SALIDA\n// ============================================\nreturn [{\n  json: {\n    // Texto limpio y escapado listo para publicar en redes y guardar en Airtable\n    linkedinPost: postEscapado,\n\n    // URL de la imagen destacada para adjuntar en Buffer\n    imagenUrl: imagenUrl,\n\n    // Nombre del autor o entrevistado\n    autor: autor,\n\n    // ID interno de Airtable para saber qué fila actualizar\n    airtableId: $('📋 Airtable — Buscar pendientes').item.json.id,\n\n    // Título del artículo para identificar la ejecución en el historial\n    titulo: $('📋 Airtable — Buscar pendientes').item.json['Título periodístico']\n  }\n}];;"
      },
      "id": "d23e1351-29dc-42ff-8740-547a9b29592f",
      "name": "⚙️ Code — Preparar datos post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('⚙️ Code — Preparar datos post').item.json.airtableId }}",
            "Fidelidad Score": 0,
            "Post LinkedIn": "={{ $('🔵 Buffer — Publicar LinkedIn').item.json.data.createPost.post.id ? 'https://www.linkedin.com/feed/update/' + $('🔵 Buffer — Publicar LinkedIn').item.json.data.createPost.post.id : '' }}",
            "Post Facebook": "={{ $('🔵 Buffer — Publicar Facebook').item.json.data.createPost.post.id ? 'https://www.facebook.com/permalink.php?story_fbid=' + $('🔵 Buffer — Publicar Facebook').item.json.data.createPost.post.id.split('_')[1] + '&id=' + $('🔵 Buffer — Publicar Facebook').item.json.data.createPost.post.id.split('_')[0] : '' }}",
            "Post X": "={{ $('🔵 Buffer — Publicar X').item.json.data.createPost.post.id ? 'https://x.com/corresponsables/status/' + $('🔵 Buffer — Publicar X').item.json.data.createPost.post.id : '' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Asunto email",
              "displayName": "Asunto email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Aprobación",
              "displayName": "Aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "🔁 Guardando Email",
                  "value": "🔁 Guardando Email"
                },
                {
                  "name": "🔎 En Revisión",
                  "value": "🔎 En Revisión"
                },
                {
                  "name": "✋🏼 Procesando",
                  "value": "✋🏼 Procesando"
                },
                {
                  "name": "✅ Borrador WP Creado",
                  "value": "✅ Borrador WP Creado"
                },
                {
                  "name": "✅ Publicado",
                  "value": "✅ Publicado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen",
              "displayName": "Imagen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título periodístico",
              "displayName": "Título periodístico",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtítulo",
              "displayName": "Subtítulo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extracto",
              "displayName": "Extracto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etiquetas",
              "displayName": "Etiquetas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Remitente",
              "displayName": "Remitente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cuerpo del contenido en HTML",
              "displayName": "Cuerpo del contenido en HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha de creación",
              "displayName": "Fecha de creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Categoría NAE",
              "displayName": "Categoría NAE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Opinión",
                  "value": "Opinión"
                },
                {
                  "name": "Entrevistas",
                  "value": "Entrevistas"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ESG",
              "displayName": "Categoría ESG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Buen gobierno",
                  "value": "Buen gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ODS",
              "displayName": "Categoría ODS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ODS 1 Fin de la pobreza",
                  "value": "ODS 1 Fin de la pobreza"
                },
                {
                  "name": "ODS 2 Hambre cero",
                  "value": "ODS 2 Hambre cero"
                },
                {
                  "name": "ODS 3 Salud y bienestar",
                  "value": "ODS 3 Salud y bienestar"
                },
                {
                  "name": "ODS 4 Educación de calidad",
                  "value": "ODS 4 Educación de calidad"
                },
                {
                  "name": "ODS 5 Igualdad de género",
                  "value": "ODS 5 Igualdad de género"
                },
                {
                  "name": "ODS 6 Agua limpia y saneamiento",
                  "value": "ODS 6 Agua limpia y saneamiento"
                },
                {
                  "name": "ODS 7 Energía asequible y no contaminante",
                  "value": "ODS 7 Energía asequible y no contaminante"
                },
                {
                  "name": "ODS 8 Trabajo decente y crecimiento económico",
                  "value": "ODS 8 Trabajo decente y crecimiento económico"
                },
                {
                  "name": "ODS 9 Industria, innovación e infraestructura",
                  "value": "ODS 9 Industria, innovación e infraestructura"
                },
                {
                  "name": "ODS 10 Reducción de las desigualdades",
                  "value": "ODS 10 Reducción de las desigualdades"
                },
                {
                  "name": "ODS 11 Ciudades y comunidades sostenibles",
                  "value": "ODS 11 Ciudades y comunidades sostenibles"
                },
                {
                  "name": "ODS 12 Producción y consumo responsables",
                  "value": "ODS 12 Producción y consumo responsables"
                },
                {
                  "name": "ODS 13 Acción por el clima",
                  "value": "ODS 13 Acción por el clima"
                },
                {
                  "name": "ODS 14 Vida submarina",
                  "value": "ODS 14 Vida submarina"
                },
                {
                  "name": "ODS 15 Vida de ecosistemas terrestres",
                  "value": "ODS 15 Vida de ecosistemas terrestres"
                },
                {
                  "name": "ODS 16 Paz, justicia e instituciones sólidas",
                  "value": "ODS 16 Paz, justicia e instituciones sólidas"
                },
                {
                  "name": "ODS 17 Alianzas para lograr los objetivos",
                  "value": "ODS 17 Alianzas para lograr los objetivos"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "España",
                  "value": "España"
                },
                {
                  "name": "Argentina",
                  "value": "Argentina"
                },
                {
                  "name": "Chile",
                  "value": "Chile"
                },
                {
                  "name": "Colombia",
                  "value": "Colombia"
                },
                {
                  "name": "Ecuador",
                  "value": "Ecuador"
                },
                {
                  "name": "México",
                  "value": "México"
                },
                {
                  "name": "Perú",
                  "value": "Perú"
                },
                {
                  "name": "Internacional",
                  "value": "Internacional"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo revisión",
              "displayName": "Motivo revisión",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen WP",
              "displayName": "Imagen WP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fidelidad Score",
              "displayName": "Fidelidad Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comentarios redactor",
              "displayName": "Comentarios redactor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post LinkedIn",
              "displayName": "Post LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "¿Cliente?",
              "displayName": "¿Cliente?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Potencial",
                  "value": "Potencial"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Facebook",
              "displayName": "Post Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post X",
              "displayName": "Post X",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "¿Ecosistema?",
              "displayName": "¿Ecosistema?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sí",
                  "value": "Sí"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "adfadc4f-c45e-43ac-9770-19d95cfa5e51",
      "name": "💾 Airtable — Guardar URLs publicación",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1520,
        336
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6c0a4f9-7ebc-4b46-8574-f54865d72366",
              "leftValue": "={{ $json.id }}",
              "rightValue": "✅ Publicado",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1040,
        656
      ],
      "id": "79bf0e42-72b2-492f-b50d-db5a59044f6e",
      "name": "🔀 IF — Hay registros pendientes"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -800,
        640
      ],
      "id": "c6093751-3a00-44f9-aa84-256a2c67255b",
      "name": "1️⃣ Limit — 1 artículo por ejecución"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation { createPost(input: { channelId: \"6a13eafdc687a22dd4231c45\", text: \"{{ $json.linkedinPost }}\", schedulingType: automatic, mode: shareNow, assets: [{ image: { url: \"{{ $json.imagenUrl }}\" } }] }) { __typename ... on PostActionSuccess { post { id } } ... on InvalidInputError { message } } }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        640
      ],
      "id": "389464b5-d19d-4b72-aa6e-6b53d237c6a5",
      "name": "🔵 Buffer — Publicar LinkedIn",
      "credentials": {
        "httpBearerAuth": {
          "id": "0LOPb1nomsOfSjo6",
          "name": "Buffer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=query",
              "value": "=mutation { createPost(input: { channelId: \"6a13f0e7c687a22dd4232a26\", text: \"{{ $('⚙️ Code — Preparar datos post').item.json.linkedinPost }}\", schedulingType: automatic, mode: shareNow, metadata: { facebook: { type: post } }, assets: [{ image: { url: \"{{ $('⚙️ Code — Preparar datos post').item.json.imagenUrl }}\" } }] }) { ... on PostActionSuccess { post { id } } ... on InvalidInputError { message } } }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        496
      ],
      "id": "ba842b8b-e5f4-487d-83d1-910956e3bc7f",
      "name": "🔵 Buffer — Publicar Facebook",
      "credentials": {
        "httpBearerAuth": {
          "id": "0LOPb1nomsOfSjo6",
          "name": "Buffer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation { createPost(input: { channelId: \"6a13f970c687a22dd4234bb5\", text: \"{{ $('⚙️ Code — Preparar datos post').item.json.linkedinPost }}\", schedulingType: automatic, mode: shareNow, assets: [{ image: { url: \"{{ $('⚙️ Code — Preparar datos post').item.json.imagenUrl }}\" } }] }) { ... on PostActionSuccess { post { id } } } }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        352
      ],
      "id": "46fc4d78-5aa5-4ebd-8dcb-a7d798ec9544",
      "name": "🔵 Buffer — Publicar X",
      "credentials": {
        "httpBearerAuth": {
          "id": "0LOPb1nomsOfSjo6",
          "name": "Buffer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.corresponsables.com/wp-json/wp/v2/media/{{ $json.featured_media }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        640
      ],
      "id": "169d99c9-8565-4bec-b95e-44d5dd059b7f",
      "name": "🖼️ WP — Obtener imagen destacada"
    },
    {
      "parameters": {
        "url": "https://www.corresponsables.com/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "slug",
              "value": "=={{ $json['URL'].split('/').filter(s => s).pop() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        640
      ],
      "id": "f39184f8-30b9-4bc4-955b-2fdc18dcba09",
      "name": "🔍 WP — Obtener ID imagen",
      "credentials": {
        "wordpressApi": {
          "id": "gdh1j5rwYzfP1JgL",
          "name": "Wordpress - Corresponsables - API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1440,
        656
      ],
      "id": "24248dea-9bca-40b8-bca2-6db569104aec",
      "name": "⏱️ Trigger — Cada 1 min"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('⚙️ Code — Preparar datos post').item.json.airtableId }}",
            "Estado": "✅ Publicado en RRSS"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "🔁 Guardando Email",
                  "value": "🔁 Guardando Email"
                },
                {
                  "name": "🔎 En Revisión",
                  "value": "🔎 En Revisión"
                },
                {
                  "name": "✋🏼 Procesando",
                  "value": "✋🏼 Procesando"
                },
                {
                  "name": "✅ Borrador WP Creado",
                  "value": "✅ Borrador WP Creado"
                },
                {
                  "name": "✅ Publicado",
                  "value": "✅ Publicado"
                },
                {
                  "name": "✅ Publicado en RRSS",
                  "value": "✅ Publicado en RRSS"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "df95a049-f963-49cd-b394-fe1200d258ee",
      "name": "✅ Airtable — Actualizar Estado RRSS",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1744,
        336
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "noticias@corresponsables.com",
        "subject": "=⚠️ Error publicación RRSS — notificación del agente",
        "message": "=<h2>Error al publicar en redes sociales</h2><p><strong>Artículo:</strong> {{ $('⚙️ Code — Preparar datos post').first().json.titulo }}</p><p><strong>Error:</strong> {{ $json.data.createPost.__typename }}</p><p><strong>Airtable ID:</strong> {{ $('⚙️ Code — Preparar datos post').first().json.airtableId }}</p><h3>Posibles causas</h3><ul><li><strong>Fallo puntual de Buffer</strong> — la API de Buffer tuvo un error temporal (UnexpectedError). Espera unos minutos y reintenta manualmente.</li><li><strong>Token de Buffer expirado</strong> — la conexión con LinkedIn, Facebook o X se ha desconectado en Buffer. Ve a Buffer → Settings → Channels y reconecta la red afectada.</li><li><strong>Canal desconectado o eliminado</strong> — el channelId ya no es válido. Verifica que el canal sigue activo en Buffer.</li><li><strong>URL de imagen inaccesible</strong> — la imagen destacada del post no era pública o estaba vacía. Buffer no pudo procesarla.</li><li><strong>Texto del post demasiado largo o con caracteres inválidos</strong> — el post generado por la IA supera el límite de caracteres de la red social o contiene caracteres que rompen la query GraphQL.</li><li><strong>Límite de publicaciones del plan de Buffer</strong> — se ha alcanzado el tope del plan contratado.</li><li><strong>Incidencia general en Buffer</strong> — consulta el estado en <a href=\"https://status.buffer.com\">status.buffer.com</a>.</li></ul><hr><p>Revisa el agente en n8n y republica manualmente si es necesario.</p>",
        "options": {}
      },
      "id": "f6f151f6-226a-494f-8796-0e595a6767b0",
      "name": "📧 Email — Alerta error RRSS",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        656
      ],
      "webhookId": "781aeb3a-9165-4f6e-91a1-54d6c11f1fd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🔀 IF — LinkedIn OK?": {
      "main": [
        [
          {
            "node": "🔵 Buffer — Publicar Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Email — Alerta error RRSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 IF — Facebook OK?": {
      "main": [
        [
          {
            "node": "🔵 Buffer — Publicar X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Email — Alerta error RRSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 IF — X OK?": {
      "main": [
        [
          {
            "node": "💾 Airtable — Guardar URLs publicación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Email — Alerta error RRSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Airtable — Buscar pendientes": {
      "main": [
        [
          {
            "node": "🔀 IF — Hay registros pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI — Generar post redes sociales": {
      "main": [
        [
          {
            "node": "⚙️ Code — Preparar datos post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code — Preparar datos post": {
      "main": [
        [
          {
            "node": "🔵 Buffer — Publicar LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Airtable — Guardar URLs publicación": {
      "main": [
        [
          {
            "node": "✅ Airtable — Actualizar Estado RRSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 IF — Hay registros pendientes": {
      "main": [
        [
          {
            "node": "1️⃣ Limit — 1 artículo por ejecución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Limit — 1 artículo por ejecución": {
      "main": [
        [
          {
            "node": "🔍 WP — Obtener ID imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔵 Buffer — Publicar LinkedIn": {
      "main": [
        [
          {
            "node": "🔀 IF — LinkedIn OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔵 Buffer — Publicar Facebook": {
      "main": [
        [
          {
            "node": "🔀 IF — Facebook OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔵 Buffer — Publicar X": {
      "main": [
        [
          {
            "node": "🔀 IF — X OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ WP — Obtener imagen destacada": {
      "main": [
        [
          {
            "node": "🤖 AI — Generar post redes sociales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 WP — Obtener ID imagen": {
      "main": [
        [
          {
            "node": "🖼️ WP — Obtener imagen destacada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Trigger — Cada 1 min": {
      "main": [
        [
          {
            "node": "📋 Airtable — Buscar pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "84e34418-0917-4f73-883c-f39eb9056bdd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4be3cf3d35b85ad6682e04988a9bb06bcccdd4b45325e52bbf853c7cfe8fce64"
  },
  "id": "SzNLlY1tdWSSAuoQ",
  "tags": [
    {
      "updatedAt": "2026-05-26T13:48:48.681Z",
      "createdAt": "2026-05-26T13:48:48.681Z",
      "id": "2cvv02DiX0QLA0PF",
      "name": "redaccional"
    }
  ]
}