Agente Redaccional REREFINITIVO.json
{
  "name": "Agente Redaccional REREFINITIVO",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "edb6f8bd-ab37-415d-80af-b95a6691ab86",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "np",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f3e1b8a3-39f9-42f3-9fe5-e4417e5b5ac0",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "ndp",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6946ecd5-521d-4714-bca4-4733a4ce572c",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "prensa",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "200d23d1-89fa-4f6b-94c2-e36f38cc2112",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "comunicado",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "577b364e-dd7b-4741-bd81-a2c1899808d9",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "media",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "aa53760f-a938-42e8-a5a2-e60bdc53a18d",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "press",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2caf853e-8d7b-4c0c-bf18-97018bb174c9",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "articulo",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4690f0af-d303-4e90-971f-6260d20a2c3e",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "artículo",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "64634c9f-13b8-4665-9528-21085b2a535d",
              "leftValue": "={{ ($json.subject || '').toLowerCase() }}",
              "rightValue": "entrevista",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -384,
        320
      ],
      "id": "577c1794-7927-45df-ad04-489aa6233dcb",
      "name": "IF — Asunto es contenido procesable"
    },
    {
      "parameters": {
        "content": "## 🔵 BLOQUE 1 — Entrada de emails y preprocesado de adjuntos ✅\nRecepción de emails desde IMAP y filtrado inicial de contenido procesable, con separación y clasificación de adjuntos.\n\n\nIncluye:\n- Lectura de correos\n- Descarga de adjuntos\n- Filtro por asunto (NP, NdP, artículo, entrevista, etc.)\n- Descarte de emails no relevantes\n- Split de adjuntos en items individuales\n- Identificación de documentos vs imágenes\n- Selección del documento principal a procesar\n- Identificación PDF / DOCX / DOC\n- Enrutamiento hacia el flujo de procesamiento",
        "height": 800,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        -32
      ],
      "typeVersion": 1,
      "id": "a2508c5c-f1d2-41fb-aa9e-2de03420780a",
      "name": "Nota — Bloque 1: Entrada y preprocesado"
    },
    {
      "parameters": {
        "content": "## 🧠 BLOQUE 2 — Procesamiento de contenidos y adjuntos\nProcesamiento editorial del contenido mediante IA.\n\nIncluye:\n- Procesado estructurado de textos (con IA), archivos de texto e imágenes\n- Control de calidad\n",
        "height": 1264,
        "width": 1552
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -176
      ],
      "typeVersion": 1,
      "id": "eb46ae32-394d-4b7b-a834-82743ef247d2",
      "name": "Nota — Bloque 2: Procesamiento con IA"
    },
    {
      "parameters": {
        "content": "## 🟢 BLOQUE 3 — Subida de contenidos y actualización final\nGestión de archivos y cierre del proceso.\n\nIncluye:\n- Creación del registro principal en Airtable con los datos procesados.\n- Subida de documentos e imágenes a Airtable\n- Actualización del estado del registro",
        "height": 832,
        "width": 2720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        256
      ],
      "typeVersion": 1,
      "id": "2680967c-0001-4872-9c6b-8a0e4a684ea6",
      "name": "Nota — Bloque 3: Subida y cierre"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('WORD — Convertir a Google Docs').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        528
      ],
      "id": "98eea4cb-485c-415a-95b1-81f4a0c89cf0",
      "name": "Cleanup — Borrar Google Doc temporal",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1wA279XwHu14WAjk",
          "name": "Google Drive - Jordi Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1005,
        "height": 475,
        "options": {
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        3600,
        864
      ],
      "id": "ea3ca8e0-8b4c-4898-ba46-e54f285ec20e",
      "name": "Imagen — Redimensionar a 1005x475 WebP"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messages[0].id }}",
        "labelIds": [
          "Label_6055473966553915601"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4912,
        704
      ],
      "id": "030d892d-d687-45fe-b496-054a7e65b4cd",
      "name": "Gmail — Añadir etiqueta Procesado",
      "webhookId": "09e34cc9-3023-474b-bf95-27f71f17915f",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4575785804962333449"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5168,
        704
      ],
      "id": "68bf9df9-5bf8-432c-a608-3a2fa6be81de",
      "name": "Gmail — Quitar etiqueta Procesar",
      "webhookId": "3c328668-9928-44ab-8d4d-c93945e1e9da",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Creamos un array vacío donde acumularemos los nuevos items\nconst out = [];\n\n// Recorremos cada item de entrada (normalmente 1 email por ejecución)\nfor (const inItem of items) {\n\n  // Obtenemos todos los binarios del email (adjuntos)\n  // Si no existe la propiedad binary, usamos un objeto vacío\n  const binaries = inItem.binary ?? {};\n\n  // Recorremos cada adjunto del email\n  for (const [key, bin] of Object.entries(binaries)) {\n\n    // Por cada adjunto generamos un item independiente\n    out.push({\n      json: {\n        // Índice del email dentro de la ejecución (útil para debug)\n        sourceEmailIndex: inItem.$index,\n\n        // Nombre original de la key binaria (ej: attachment_0)\n        originalKey: key,\n\n        // Nombre del archivo adjunto\n        fileName: bin.fileName,\n\n        // Tipo MIME del archivo\n        mimeType: bin.mimeType,\n\n        // Tamaño del archivo\n        fileSize: bin.fileSize,\n\n        // Datos del email original que arrastramos para contexto\n        subject: inItem.json?.subject,\n        from: inItem.json?.from,\n        date: inItem.json?.date,\n\n        // UID real del email en IMAP\n        // En tu caso viene dentro de attributes.uid\n        uid: inItem.json?.attributes?.uid,\n\n        // Message-ID del email\n        // En tu caso viene dentro de metadata[\"message-id\"]\n        messageId: inItem.json?.metadata?.[\"message-id\"],\n      },\n\n      // Renombramos el adjunto a \"data\"\n      // para que los siguientes nodos lo puedan usar de forma estándar\n      binary: {\n        data: bin,\n      },\n    });\n  }\n}\n\n// Devolvemos un item por cada adjunto encontrado\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        304
      ],
      "id": "629b5130-6fbf-4f27-8db4-9cb50bed08a7",
      "name": "Code — Separar adjuntos en ítems"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b98b43ca-4213-4a92-af85-324e3d0bbb11",
              "leftValue": "={{ ($json.mimeType || '').toLowerCase() }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a37c86cc-310d-48fd-90d2-64e0c183610f",
              "leftValue": "={{ ($json.mimeType || '').toLowerCase() }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "18d392e8-5cfa-48d2-8dd4-b121a92e9128",
              "leftValue": "={{ ($json.mimeType || '').toLowerCase() }}",
              "rightValue": "application/msword",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        304
      ],
      "id": "059a057b-e6a8-4efc-b7a5-235f233f1f71",
      "name": "IF — Es documento (PDF/DOCX/DOC)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -64,
        544
      ],
      "id": "fb199046-10c3-4426-9c83-1933493a0c3f",
      "name": "STOP — Email no procesable"
    },
    {
      "parameters": {
        "jsCode": "// Ordenar poniendo PDFs primero\nconst sorted = items.sort((a, b) => {\n  const aIsPdf = (a.json.mimeType || '').includes('application/pdf');\n  const bIsPdf = (b.json.mimeType || '').includes('application/pdf');\n  if (aIsPdf && !bIsPdf) return -1;\n  if (!aIsPdf && bIsPdf) return 1;\n  return 0;\n});\n\n// Devolver solo el primero\nreturn [sorted[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        144
      ],
      "id": "2b7fdff3-03b5-4c90-9347-bb29f1da5981",
      "name": "Code — Seleccionar primer documento válido"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.mimeType || '').toLowerCase() }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9cc82b5b-ffa1-485a-a769-f0359b5a9cb2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.mimeType || '').toLowerCase() }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4618d7c4-c9a6-4d29-8960-af29e19ea4ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.mimeType || '').toLowerCase() }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "767383aa-0540-4883-93b9-c1228e7735d8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOC"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        624,
        128
      ],
      "id": "7c6091df-7a17-4d0a-ac8f-f65b92aba5f4",
      "name": "Switch — Tipo de documento"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1056,
        48
      ],
      "id": "c4021480-d0b2-4d0d-873f-e8febf04090a",
      "name": "PDF — Extraer texto"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.3-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.3-CHAT-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente experto en análisis y estructuración de contenido editorial para el medio Corresponsables, especializado en RSE, sostenibilidad y ESG.\n\nTu tarea es analizar un texto procedente de una nota de prensa, artículo o entrevista y extraer información estructurada de forma precisa, sin reinterpretar ni reescribir el contenido.\n\n## Objetivo\n\nDebes:\n\n1. Identificar el título original del documento\n2. Limpiar y estructurar el contenido principal en HTML\n3. Clasificar el contenido en diferentes dimensiones\n4. Identificar la empresa protagonista\n\nEste nodo debe comportarse como un extractor y estructurador fiel del contenido, no como un redactor creativo.\n\n---\n\n## Reglas generales\n\n- Devuelve únicamente un JSON válido\n- No añadas explicaciones ni texto fuera del JSON\n- No dejes campos vacíos\n- No inventes información\n- Si tienes dudas, aplica el criterio más prudente basado en el contenido\n- Copia el campo `text` del input sin modificarlo en el output\n\n---\n\n## 1. Extracción del título (`titulo`)\n\n- Debe ser exactamente el título original del documento\n- No lo reescribas, no lo optimices y no lo adaptes\n- No cambies su redacción, orden ni estilo\n- No lo conviertas en un titular periodístico\n- Debe ser el encabezado principal del documento\n- No incluyas subtítulos ni antetítulos\n- Este título NO debe aparecer dentro de `contenidoHTML`\n\n---\n\n## 2. Limpieza y maquetación (`contenidoHTML`)\n\nDebes extraer únicamente el cuerpo principal del contenido.\n\n### Debes eliminar:\n\n- el título\n- firmas\n- contactos\n- pies de página\n- disclaimers\n- contenido corporativo irrelevante\n- información administrativa\n\n### Una vez eliminado todo lo anterior, elimina también la línea de geolocalización y fecha si la hubiera al inicio del texto (ejemplo: \"Madrid, 13 de mayo de 2026.-\"). Es un patrón habitual en notas de prensa.\n\n---\n\n### Fidelidad al contenido (obligatoria)\n\n- No inventes información que no esté en el contenido original\n- No resumas, no reformules y no reescribas el contenido principal\n- Debes preservar la redacción original del documento siempre que sea posible\n- Tu función no es mejorar el estilo del texto, sino identificarlo, limpiarlo y estructurarlo\n- Solo puedes eliminar contenido claramente accesorio, administrativo o ajeno al cuerpo principal\n- Si tienes dudas sobre si una parte pertenece al cuerpo principal, consérvala\n- Si una información no es clara, no la fuerces ni la inventes\n- No introduzcas interpretaciones, matices o explicaciones que no estén presentes en el contenido\n- No combines frases, no simplifiques párrafos y no alteres el sentido del texto\n- No sustituyas palabras por sinónimos\n- No cambies el orden del contenido salvo que sea estrictamente necesario para maquetarlo correctamente en HTML\n- El contenido final debe ser lo más fiel posible al documento original\n\n---\n\n### Reglas de maquetación HTML\n\n- Usa <p> para estructurar párrafos\n- No generes <h1>\n- Usa <h2> o <h3> solo si ya existen en el contenido original\n- No inventes subtítulos ni encabezados\n- No incluyas el título dentro del HTML\n- No uses listas ni bullet points\n- Convierte enlaces y emails a HTML solo si aparecen en el contenido original\n- Usa negritas (<strong>) de forma periodística y moderada si mejora la legibilidad\n- Usa cursivas (<i></i>) para las declaraciones\n\n---\n\n### Calidad técnica del HTML (obligatoria)\n\n- No generes HTML inválido\n- No generes etiquetas HTML incompletas o mal cerradas\n- Asegúrate de que el HTML sea limpio, legible y consistente\n- No introduzcas elementos HTML innecesarios\n- No añadas elementos decorativos o superfluos\n- No añadas enlaces, énfasis o elementos que no existan o no estén justificados por el contenido\n\n---\n\n## 3. Clasificación editorial (`categoriaNAE`)\n\nValores posibles:\n\n- Noticias\n- Opinión\n- Entrevistas\n\nReglas:\n\n- Noticias → contenido informativo y factual\n- Opinión → contenido interpretativo o reflexivo\n- Entrevistas → formato preguntas/respuestas\n- En caso de duda → Noticias\n\n---\n\n## 4. Clasificación ESG (`categoriaESG`)\n\nValores:\n\n- Medioambiente\n- Social\n- Buen gobierno\n\nReglas:\n\n- Selecciona SOLO una categoría\n- Basada en el impacto principal del contenido\n- Prioriza el foco dominante frente a menciones secundarias\n\n---\n\n## 5. Clasificación ODS (`categoriaODS`)\n\nDebes usar EXACTAMENTE uno de los siguientes valores:\n\n- ODS 1 Fin de la pobreza\n- ODS 2 Hambre cero\n- ODS 3 Salud y bienestar\n- ODS 4 Educación de calidad\n- ODS 5 Igualdad de género\n- ODS 6 Agua limpia y saneamiento\n- ODS 7 Energía asequible y no contaminante\n- ODS 8 Trabajo decente y crecimiento económico\n- ODS 9 Industria, innovación e infraestructura\n- ODS 10 Reducción de las desigualdades\n- ODS 11 Ciudades y comunidades sostenibles\n- ODS 12 Producción y consumo responsables\n- ODS 13 Acción por el clima\n- ODS 14 Vida submarina\n- ODS 15 Vida de ecosistemas terrestres\n- ODS 16 Paz, justicia e instituciones sólidas\n- ODS 17 Alianzas para lograr los objetivos\n\n### Reglas\n\n- Selecciona SOLO uno\n- No modifiques el texto\n- No abrevies\n- No elimines palabras\n- No cambies el orden\n- No selecciones múltiples ODS\n\n---\n\n## 6. Empresa (`empresa`)\n\n- Debe ser la organización más protagonista del contenido\n- Identifica la entidad principal sobre la que trata la noticia\n- No utilices el remitente del email como referencia\n- No incluyas organizaciones secundarias o mencionadas de forma accesoria\n- Si hay varias organizaciones, selecciona la que tenga mayor protagonismo\n- Devuelve solo el nombre de la organización, sin descripciones adicionales\n- Si el contenido trata sobre una iniciativa impulsada por una organización concreta, esa organización debe ser considerada la principal\n\n---\n\n## 7. Clasificación de país (`pais`)\n\nValores:\n\n- España\n- Argentina\n- Chile\n- Colombia\n- Ecuador\n- México\n- Perú\n- Internacional\n\nReglas:\n\n- Identifica el país por contexto, instituciones o referencias\n- Si no hay evidencia clara → España\n- Usa Internacional solo si el contenido es claramente global o multinacional\n- No uses el idioma como único criterio\n\n\n---\n\n## OUTPUT\n\n{\n  \"titulo\": \"...\",\n  \"contenidoHTML\": \"...\",\n  \"categoriaNAE\": \"...\",\n  \"categoriaESG\": \"...\",\n  \"categoriaODS\": \"...\",\n  \"empresa\": \"...\",\n  \"pais\": \"...\",\n  \"text\": \"...\",\n}",
              "role": "system"
            },
            {
              "content": "=Analiza el siguiente contenido y genera el JSON solicitado siguiendo estrictamente las instrucciones del system prompt.\n\nContenido:\n\n{{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1312,
        48
      ],
      "id": "67a6d7f9-9eaa-4619-9f65-f8ae16909a7b",
      "name": "AI — Extraer y clasificar contenido",
      "credentials": {
        "openAiApi": {
          "id": "T0AKp7Yll9ff7up8",
          "name": "OpenAi - Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.3-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.3-CHAT-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente especializado en control de calidad editorial para el medio Corresponsables.\n\nTu función es doble:\n1. Puntuar la fidelidad del contenido HTML respecto al texto original\n2. Validar la empresa protagonista del contenido\n\nNO debes generar contenido nuevo ni reescribir el texto.\n\n---\n\n## Reglas generales\n\n- Devuelve únicamente un JSON válido\n- No añadas explicaciones fuera del JSON\n- No inventes información\n- Todas las decisiones deben basarse únicamente en el contenido proporcionado\n\n---\n\n## 1. Puntuación de fidelidad (`fidelidadScore`)\n\nCompara el `contenidoHTML` con el `texto original` y asigna una puntuación del 0 al 100:\n\n- 90-100 → contenido prácticamente idéntico, solo cambios de formato\n- 70-89 → pequeñas modificaciones sin cambiar el sentido\n- 50-69 → modificaciones relevantes o pérdida de información\n- 0-49 → cambios de significado, omisiones importantes o alteraciones graves\n\nDebes comparar únicamente el cuerpo principal del contenido, pero ignorando:\n- título\n- firmas\n- contactos\n- pies de página\n- disclaimers\n- contenido corporativo irrelevante\n- información administrativa\n- línea de geolocalización y fecha si la hubiera al inicio del texto (ejemplo: \"Madrid, 13 de mayo de 2026.-\"). Es un patrón habitual en notas de prensa.\n- negritas y cursivas que no importa si no coinciden\n\n---\n\n## 2. Motivo de revisión (`fidelidadMotivo`)\n\n- Si fidelidadScore >= 70 → devolver string vacío \"\"\n- Si fidelidadScore < 70 → explicar brevemente el motivo de ese score\n\nEjemplos:\n- \"Se han omitido párrafos relevantes del contenido original\"\n- \"Se han modificado datos o cifras del contenido original\"\n- \"El contenido ha sido resumido perdiendo información importante\"\n\n---\n\n## 3. Validación de empresa (`empresaValidada`)\n\nRecibirás un valor previo `empresa`. Debes comprobar si coincide con la organización protagonista del contenido.\n\n### Reglas de decisión\n\n- Si la empresa es claramente la protagonista principal → mantenerla\n- Si hay otra organización claramente protagonista → reemplazarla por esa\n- Si hay varias organizaciones sin una claramente dominante → mantener la original\n\n---\n\n## OUTPUT (obligatorio)\n\n{\n  \"empresaValidada\": \"...\",\n  \"contenidoHTML\": \"...\",\n  \"fidelidadScore\": \"\",\n  \"fidelidadMotivo\": \"\",\n  \"titulo\": \"...\",\n  \"categoriaNAE\": \"...\",\n  \"categoriaESG\": \"...\",\n  \"categoriaODS\": \"...\",\n  \"pais\": \"...\"\n}",
              "role": "system"
            },
            {
              "content": "=Valida la siguiente información siguiendo estrictamente las instrucciones del system prompt.\nNo añadas texto fuera del JSON.\n\nTexto original:\n{{ $json.message.content.text }}\n\nDatos estructurados:\n- Título: {{ $json.message.content.titulo }}\n- Contenido HTML: {{ $json.message.content.contenidoHTML }}\n- Empresa: {{ $json.message.content.empresa }}\n- Categoría NAE: {{ $json.message.content.categoriaNAE }}\n- Categoría ESG: {{ $json.message.content.categoriaESG }}\n- Categoría ODS: {{ $json.message.content.categoriaODS }}\n- País: {{ $json.message.content.pais }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1648,
        48
      ],
      "id": "c277089b-a8fc-4134-a864-94e2d54ffd89",
      "name": "AI — Validar fidelidad y empresa",
      "credentials": {
        "openAiApi": {
          "id": "T0AKp7Yll9ff7up8",
          "name": "OpenAi - Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.3-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.3-CHAT-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente experto en redacción periodística de Corresponsables, medio especializado en RSE, sostenibilidad, ESG y comunicación responsable.\n\nTu tarea es generar contenido editorial y metadatos SEO a partir de contenido previamente estructurado y validado.\n\nDebes redactar con criterio periodístico, enfoque ESG y coherencia editorial, sin inventar información.\n\n---\n\n## Contexto de entrada\n\nRecibirás:\n\n- titulo → título original del documento\n- contenidoHTMLValidado → contenido limpio y fiel al original\n- empresaValidada → organización protagonista confirmada\n- categoriaNAE, categoriaESG, categoriaODS, pais\n\nDebes usar estos datos como única fuente de verdad.\n\n---\n\n## Objetivo\n\nGenerar:\n\n- tituloESG\n- subtitulo\n- descripcion\n- slug\n- extracto\n- highlights\n- etiquetas\n\n---\n\n## Reglas generales\n\n### Formato\n\n- Devuelve únicamente un JSON válido\n- No añadas explicaciones, comentarios ni texto fuera del JSON\n- No dejes campos vacíos ni incompletos\n- No incluyas caracteres inválidos que puedan romper el JSON\n- Si necesitas comillas dentro del contenido generado, usa comillas simples\n- Asegúrate de que el JSON es correcto, completo y sin errores de sintaxis\n\n### Uso del contenido\n\n- Basa TODO en `contenidoHTMLValidado` y `titulo`\n- No inventes información\n- No introduzcas datos no presentes en el contenido\n- No contradigas el contenido original\n\n### Coherencia\n\n- Todos los campos deben ser coherentes entre sí\n- Evita duplicar información\n- evita repetir estructuras sintácticas similares entre campos (especialmente entre tituloESG, subtitulo y descripcion)\n- Cada campo debe aportar valor propio y complementario\n\n---\n\n## Estilo Corresponsables\n\n- Tono periodístico, informativo, profesional y creíble\n- Prioriza claridad, precisión y relevancia informativa\n- Lenguaje claro, preciso y sin exageraciones\n- Sin tono promocional ni publicitario\n- Sin clickbait ni polarización\n- Prioriza impacto ESG\n- Destaca valor e impacto de la acción, no solo la acción\n\n---\n\n## 1. tituloESG\n\n- Reescribe el título original con un enfoque ESG claro\n- Debe reflejar el impacto real (social, ambiental o de gobernanza)\n- Prioriza el resultado o efecto sobre la acción corporativa\n- incluir dato cuantitativo si está disponible (porcentaje, volumen, impacto medible)\n- Debe responder a la pregunta: “¿qué cambia o qué impacto genera esto?”\n- Lenguaje profesional, activo y periodístico\n- Sin clickbait\n- No inventar información\n- No exagerar ni añadir interpretaciones no presentes en el contenido\n\n### Estructura recomendada\n\n- priorizar impacto + contexto sobre anuncio\n- puede invertir el orden del título original si mejora claridad\n- evitar comenzar siempre con el nombre de la empresa si no es necesario\n\nEjemplo estructura:\nimpacto + dato/contexto + empresa\n\no\n\nempresa + impacto + contexto\n\n\n### Calidad\n\n- debe poder leerse como un titular periodístico real\n- debe ser informativo, no promocional\n- debe aportar un ángulo editorial (no solo describir la acción)\n- debe ser claro en una sola lectura\n- longitud moderada (ideal entre 10 y 18 palabras)\n- No repetir el título original con ligeros cambios\n- No mantener estructura corporativa típica\n- Sin frases genéricas sin dato o contexto\n- No añadir información no presente en el contenido\n\n### Reglas editoriales (muy importante)\n\n- evitar lenguaje corporativo vacío:\n  (compromiso, apuesta, liderazgo… sin contexto real)\n- evitar verbos débiles:\n  (refuerza, impulsa, apuesta por… si no aportan valor real)\n- priorizar verbos concretos:\n  (reduce, aumenta, certifica, alcanza, mejora, transforma…)\n\n- evitar estructuras tipo:\n  “Empresa X lanza…”\n  → reformular hacia impacto\n\n### Ejemplos\n\nEjemplo 1  \nInput: Zurich Seguros lanza Elite Empresas en la Market Week  \nOutput: Zurich impulsa la resiliencia empresarial con su nuevo programa Elite Empresas en la Market Week  \n\nEjemplo 2  \nInput: Cesce refuerza su compromiso con la financiación sostenible, alcanzando el 38% de su cartera garantizada  \nOutput: La financiación sostenible ya representa el 38% de la cartera de Cesce, consolidando su liderazgo verde en España  \n\nEjemplo 3  \nInput: Renfe obtiene certificación AENOR de huella de carbono y refuerza su compromiso sostenible  \nOutput: Renfe certifica su huella de carbono y acelera su plan hacia la neutralidad climática    \n\n\n### SI SE TRATA DE UNA ENTREVISTA deberá ser una declaración relevante y periodística de la entrevista\n\n### SI SE TRATA DE UN ARTÍCULO DE OPINIÓN deberá ser el mismo título original o bien generar uno en base al contenido del mismo\n\n---\n\n## 2. subtitulo\n\n- debe complementar el `tituloESG`, no repetirlo\n- añade contexto relevante que no esté explícito en el título\n- debe aportar información concreta (qué, cómo, dónde o por qué)\n\n### Estructura recomendada\n\n- ampliar el alcance de la acción\n- añadir contexto geográfico, sectorial o temporal si es relevante\n- concretar impacto, alcance o beneficiarios\n\nEjemplo estructura:\ncontexto + alcance + impacto\n\n### Calidad\n\n- breve (ideal entre 12 y 25 palabras)\n- claro y específico\n- fácil de entender en una sola lectura\n- coherente con el contenido real\n- tono periodístico, no promocional\n- no usar lenguaje corporativo vacío (compromiso, apuesta… sin contexto)\n- no repetir palabras clave exactas del título salvo que sea necesario\n- no reformular el título con sinónimos\n- Evitar repetir el título\n- Evitar generalidades sin información concreta\n- Evitar frases decorativas o vacías\n- Evitar enumeraciones largas\n\n### Ejemplo\n\nTítulo ESG:\nIberdrola acelera la transición energética con nuevas inversiones renovables\n\nSubtítulo esperado:\nLa compañía refuerza su capacidad eólica y solar en España y Portugal para impulsar la descarbonización del sistema energético\n\n\n### SI SE TRATA DE UNA ENTREVISTA deberá seguir este formato (Entrevista en exclusiva para Corresponsables a [Nombre y Apellidos], [Cargo] de [Nombre de la empresa])\n\n### SI SE TRATA DE UN ARTÍCULO DE OPINIÓN deberá seguir este formato (Artículo en exclusiva para Corresponsables de [Nombre y Apellidos], [Cargo] de [Nombre de la empresa])\n\n---\n\n## 3. descripcion\n\n- máximo 160 caracteres (ideal entre 140–155)\n- tono periodístico, claro y preciso\n- debe resumir el hecho principal de la noticia\n- incluir la empresa protagonista si aporta valor\n- describir la acción principal\n- añadir contexto o impacto relevante\n\n### Calidad\n\n- Entendible de forma autónoma (sin necesidad de leer el artículo)\n- Informativa y específica, no genérica\n- Invitar al clic de forma natural, sin clickbait\n- Aportar valor real al lector\n- Evitar lenguaje promocional o corporativo\n- Evitar frases vacías (compromiso, apuesta, liderazgo… sin contexto)\n- Evitar expresiones tipo ‘descubre’, ‘no te pierdas’, etc.\n- Evitar repetir el título tal cual\n\n### Reglas SEO\n\n- incluir palabras clave relevantes del contenido\n- evitar repeticiones innecesarias\n- evitar palabras vacías o genéricas\n- coherente con `titulo` y `slug`\n- evitar empezar siempre por el nombre de la empresa si no aporta valor\n\nEjemplo estructura:\nempresa + accion + impacto/contexto\n\n### Ejemplo\n\nInput:\nVegalsa-Eroski y sus clientes donan más de 122.000 kilos de alimentos\n\nDescripción esperada:\nVegalsa-Eroski impulsa la donación de más de 122.000 kilos de alimentos a bancos alimentarios en Galicia\n\n---\n\n## 4. slug\n\n- Basado en las palabras clave principales del contenido\n- Debe reflejar el tema central de la noticia\n- Coherente con `titulo` y `contenidoHTMLValidado`\n- Prioriza claridad y relevancia SEO frente a literalidad del texto original\n\n### Reglas\n\n- De 5 a 10 palabras, en minúsculas y separadas con guiones\n- Sin tildes ni caracteres especiales\n- Sin fechas salvo que sean clave\n- Sin palabras vacías innecesarias (de, la, el, en, etc.)\n- Sin repetir palabras ni raíces similares\n- Evitar duplicidad semántica (ej: sostenible-sostenibilidad)\n- Sin términos genéricos sin valor (empresa, proyecto, iniciativa)\n- Sin inventar información\n\n### Calidad\n\n- Entendible por sí solo como una URL clara y descriptiva\n- Legible por humanos (no solo optimizado para SEO)\n- Específico, no genérico\n- Reflejar el contenido real, no una interpretación\n\n### Estructura recomendada\n\n- Incluir la empresa protagonista si aporta valor SEO\n- Incluir acción principal + contexto o impacto\n\nEjemplo estructura:\nempresa + accion + tema + contexto\n\n### Ejemplo\n\nInput:\nVegalsa-Eroski y sus clientes donan más de 122.000 kilos de alimentos\n\nSlug esperado:\nvegalsa-eroski-donacion-alimentos-bancos-galicia\n\n---\n\n## 5. extracto\n\n- 3 párrafos cortos\n- cada párrafo de 3 líneas aproximadas\n- separados por <br><br>\n- máximo ~9 líneas en total\n\n---\n\n## 6. highlights\n\nGenera exactamente 3:\n\n\"highlights\": \"highlight1 | highlight12 | highlight3\"\n\n\nReglas:\n- sin punto final\n- breves (aproximadamente 10-20 palabras), claros y útiles\n- debe resumir ideas clave del contenido\n\n---\n\n## 7. etiquetas\n\nGenera exactamente 8 etiquetas\n\nReglas:\n- deben ser strings simples\n- incluir obligatoriamente:\n  - empresaValidada\n  - RSE\n  - ESG\n  - ODS\n  - sostenibilidad\n- resto relevantes\n- incluir al menos una etiqueta temática específica del contenido (ej: energía renovable, inclusión laboral, economía circular)\n- sin duplicados\n\n--- \n\n## 8. resto de outputs\n\nDéjalos exactamente cómo los has recibido en el input:\n\n  \"categoriaNAE\": \"...\",\n  \"categoriaESG\": \"...\",\n  \"categoriaODS\": \"...\",\n  \"empresaValidada\": \"...\",\n  \"pais\": \"...\",\n  \"fidelidadScore\": \"\",\n  \"fidelidadMotivo\": \"\"\n\n---\n\n## OUTPUT FINAL\n\n{\n  \"titulo\": \"...\",\n  \"tituloESG\": \"...\",\n  \"subtitulo\": \"...\",\n  \"slug\": \"...\",\n  \"highlights\": \"Punto destacado 1 | Punto destacado 2 | Punto destacado 3\",\n  \"contenidoHTML\": \"...\",\n  \"extracto\": \"...\",\n  \"descripcion\": \"...\",\n   \"etiquetas\": \"etiqueta1 | etiqueta2 | etiqueta3 | etiqueta4 | etiqueta5 | etiqueta6 | etiqueta7 | etiqueta8\",\n  \"categoriaNAE\": \"...\",\n  \"categoriaESG\": \"...\",\n  \"categoriaODS\": \"...\",\n  \"empresaValidada\": \"...\",\n  \"pais\": \"...\",\n  \"fidelidadScore\": \"\",\n  \"fidelidadMotivo\": \"\"\n}",
              "role": "system"
            },
            {
              "content": "=Genera el JSON solicitado siguiendo estrictamente las instrucciones del system prompt.\nNo añadas texto fuera del JSON.\n\nDatos:\n- Título original: {{ $json.message.content.titulo }}\n- Contenido HTML: {{ $json.message.content.contenidoHTML }}\n- Empresa: {{ $json.message.content.empresaValidada }}\n- Categoría NAE: {{ $json.message.content.categoriaNAE }}\n- Categoría ESG: {{ $json.message.content.categoriaESG }}\n- Categoría ODS: {{ $json.message.content.categoriaODS }}\n- País: {{ $json.message.content.pais }}\n- fidelidadScore: {{ $json.message.content.fidelidadScore }}\n- fidelidadMotivo: {{ $json.message.content.fidelidadMotivo }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1984,
        48
      ],
      "id": "7461c0f5-b861-477a-8973-cae3f237d871",
      "name": "AI — Generar SEO y metadatos",
      "credentials": {
        "openAiApi": {
          "id": "T0AKp7Yll9ff7up8",
          "name": "OpenAi - Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asunto email": "={{ $('IMAP — Trigger Carpeta Procesar').item.json.subject }}",
            "Origin": "={{ $('IMAP — Trigger Carpeta Procesar').item.json.from }}",
            "Slug": "={{ $json.message.content.slug }}",
            "Description": "={{ $json.message.content.descripcion }}",
            "Clean HTML": "={{ $('IMAP — Trigger Carpeta Procesar').item.json.textHtml }}",
            "Contenido MD": "={{ $('IMAP — Trigger Carpeta Procesar').item.json.textPlain }}",
            "Estado": "🔁 Guardando Email",
            "Empresa": "={{ $json.message.content.empresaValidada }}",
            "Título periodístico": "={{ $json.message.content.tituloESG }}",
            "Etiquetas": "={{ $json.message.content.etiquetas }}",
            "Extracto": "={{ $json.message.content.extracto }}",
            "Highlights": "={{ $json.message.content.highlights }}",
            "Cuerpo del contenido en HTML": "={{ $json.message.content.contenidoHTML }}",
            "Subtítulo": "={{ $json.message.content.subtitulo }}",
            "Categoría ODS": "={{ $json.message.content.categoriaODS}}",
            "Categoría ESG": "={{ $json.message.content.categoriaESG }}",
            "País": "={{ $json.message.content.pais}}",
            "Categoría NAE": "={{ $json.message.content.categoriaNAE}}",
            "Motivo revisión": "={{ $json.message.content.fidelidadMotivo }}",
            "Fidelidad Score": "={{ $json.message.content.fidelidadScore }}",
            "Título": "={{ $json.message.content.titulo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Asunto email",
              "displayName": "Asunto email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Aprobación",
              "displayName": "Aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "❌ Cancelado",
                  "value": "❌ Cancelado"
                },
                {
                  "name": "🔁 Guardando Email",
                  "value": "🔁 Guardando Email"
                },
                {
                  "name": "🔎 En Revisión",
                  "value": "🔎 En Revisión"
                },
                {
                  "name": "✋🏼 Procesando",
                  "value": "✋🏼 Procesando"
                },
                {
                  "name": "🔎 Borrador WP Creado",
                  "value": "🔎 Borrador WP Creado"
                },
                {
                  "name": "✋🏼 Procesando...",
                  "value": "✋🏼 Procesando..."
                },
                {
                  "name": "✅ Publicado (WP y redes)",
                  "value": "✅ Publicado (WP y redes)"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen",
              "displayName": "Imagen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clean HTML",
              "displayName": "Clean HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contenido MD",
              "displayName": "Contenido MD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha de creación",
              "displayName": "Fecha de creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Categoria/s",
              "displayName": "Categoria/s",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Buen Gobierno",
                  "value": "Buen Gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título periodístico",
              "displayName": "Título periodístico",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etiquetas",
              "displayName": "Etiquetas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extracto",
              "displayName": "Extracto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtítulo",
              "displayName": "Subtítulo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cuerpo del contenido en HTML",
              "displayName": "Cuerpo del contenido en HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría NAE",
              "displayName": "Categoría NAE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Opinión",
                  "value": "Opinión"
                },
                {
                  "name": "Entrevistas",
                  "value": "Entrevistas"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ESG",
              "displayName": "Categoría ESG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Buen gobierno",
                  "value": "Buen gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ODS",
              "displayName": "Categoría ODS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ODS 1 Fin de la pobreza",
                  "value": "ODS 1 Fin de la pobreza"
                },
                {
                  "name": "ODS 2 Hambre cero",
                  "value": "ODS 2 Hambre cero"
                },
                {
                  "name": "ODS 3 Salud y bienestar",
                  "value": "ODS 3 Salud y bienestar"
                },
                {
                  "name": "ODS 4 Educación de calidad",
                  "value": "ODS 4 Educación de calidad"
                },
                {
                  "name": "ODS 5 Igualdad de género",
                  "value": "ODS 5 Igualdad de género"
                },
                {
                  "name": "ODS 6 Agua limpia y saneamiento",
                  "value": "ODS 6 Agua limpia y saneamiento"
                },
                {
                  "name": "ODS 7 Energía asequible y no contaminante",
                  "value": "ODS 7 Energía asequible y no contaminante"
                },
                {
                  "name": "ODS 8 Trabajo decente y crecimiento económico",
                  "value": "ODS 8 Trabajo decente y crecimiento económico"
                },
                {
                  "name": "ODS 9 Industria, innovación e infraestructura",
                  "value": "ODS 9 Industria, innovación e infraestructura"
                },
                {
                  "name": "ODS 10 Reducción de las desigualdades",
                  "value": "ODS 10 Reducción de las desigualdades"
                },
                {
                  "name": "ODS 11 Ciudades y comunidades sostenibles",
                  "value": "ODS 11 Ciudades y comunidades sostenibles"
                },
                {
                  "name": "ODS 12 Producción y consumo responsables",
                  "value": "ODS 12 Producción y consumo responsables"
                },
                {
                  "name": "ODS 13 Acción por el clima",
                  "value": "ODS 13 Acción por el clima"
                },
                {
                  "name": "ODS 14 Vida submarina",
                  "value": "ODS 14 Vida submarina"
                },
                {
                  "name": "ODS 15 Vida de ecosistemas terrestres",
                  "value": "ODS 15 Vida de ecosistemas terrestres"
                },
                {
                  "name": "ODS 16 Paz, justicia e instituciones sólidas",
                  "value": "ODS 16 Paz, justicia e instituciones sólidas"
                },
                {
                  "name": "ODS 17 Alianzas para lograr los objetivos",
                  "value": "ODS 17 Alianzas para lograr los objetivos"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "España",
                  "value": "España"
                },
                {
                  "name": "Argentina",
                  "value": "Argentina"
                },
                {
                  "name": "Chile",
                  "value": "Chile"
                },
                {
                  "name": "Colombia",
                  "value": "Colombia"
                },
                {
                  "name": "Ecuador",
                  "value": "Ecuador"
                },
                {
                  "name": "México",
                  "value": "México"
                },
                {
                  "name": "Perú",
                  "value": "Perú"
                },
                {
                  "name": "Internacional",
                  "value": "Internacional"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo revisión",
              "displayName": "Motivo revisión",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen WP",
              "displayName": "Imagen WP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fidelidad Score",
              "displayName": "Fidelidad Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2768,
        496
      ],
      "id": "a89d4d3f-4d08-4eb3-9699-f6b011a64f44",
      "name": "Airtable — Crear registro",
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2976,
        656
      ],
      "id": "f0d43b41-72fe-4b41-bb1d-42fe1c925196",
      "name": "Merge — Registro + adjuntos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/app5FkIV6cTNWoFeo/{{ $('Airtable — Crear registro').first().json.id }}/Documento/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentType",
              "value": "application/pdf"
            },
            {
              "name": "filename",
              "value": "={{ $input.item.binary.data.fileName }}"
            },
            {
              "name": "file",
              "value": "={{ $json.fileBase64 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        512
      ],
      "id": "6c52921d-97df-4fd9-b70e-e66841e751e2",
      "name": "Airtable — Subir documento PDF",
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable — Crear registro').item.json.id }}",
            "Estado": "🔎 En Revisión",
            "Fidelidad Score": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Asunto email",
              "displayName": "Asunto email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Aprobación",
              "displayName": "Aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "❌ Cancelado",
                  "value": "❌ Cancelado"
                },
                {
                  "name": "🔁 Guardando Email",
                  "value": "🔁 Guardando Email"
                },
                {
                  "name": "🔎 En Revisión",
                  "value": "🔎 En Revisión"
                },
                {
                  "name": "✋🏼 Procesando",
                  "value": "✋🏼 Procesando"
                },
                {
                  "name": "🔎 Borrador WP Creado",
                  "value": "🔎 Borrador WP Creado"
                },
                {
                  "name": "✋🏼 Procesando...",
                  "value": "✋🏼 Procesando..."
                },
                {
                  "name": "✅ Publicado (WP y redes)",
                  "value": "✅ Publicado (WP y redes)"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen",
              "displayName": "Imagen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clean HTML",
              "displayName": "Clean HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contenido MD",
              "displayName": "Contenido MD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha de creación",
              "displayName": "Fecha de creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Categoria/s",
              "displayName": "Categoria/s",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Buen Gobierno",
                  "value": "Buen Gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título periodístico",
              "displayName": "Título periodístico",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etiquetas",
              "displayName": "Etiquetas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extracto",
              "displayName": "Extracto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtítulo",
              "displayName": "Subtítulo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cuerpo del contenido en HTML",
              "displayName": "Cuerpo del contenido en HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría NAE",
              "displayName": "Categoría NAE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Opinión",
                  "value": "Opinión"
                },
                {
                  "name": "Entrevistas",
                  "value": "Entrevistas"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ESG",
              "displayName": "Categoría ESG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Buen gobierno",
                  "value": "Buen gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ODS",
              "displayName": "Categoría ODS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ODS 1 Fin de la pobreza",
                  "value": "ODS 1 Fin de la pobreza"
                },
                {
                  "name": "ODS 2 Hambre cero",
                  "value": "ODS 2 Hambre cero"
                },
                {
                  "name": "ODS 3 Salud y bienestar",
                  "value": "ODS 3 Salud y bienestar"
                },
                {
                  "name": "ODS 4 Educación de calidad",
                  "value": "ODS 4 Educación de calidad"
                },
                {
                  "name": "ODS 5 Igualdad de género",
                  "value": "ODS 5 Igualdad de género"
                },
                {
                  "name": "ODS 6 Agua limpia y saneamiento",
                  "value": "ODS 6 Agua limpia y saneamiento"
                },
                {
                  "name": "ODS 7 Energía asequible y no contaminante",
                  "value": "ODS 7 Energía asequible y no contaminante"
                },
                {
                  "name": "ODS 8 Trabajo decente y crecimiento económico",
                  "value": "ODS 8 Trabajo decente y crecimiento económico"
                },
                {
                  "name": "ODS 9 Industria, innovación e infraestructura",
                  "value": "ODS 9 Industria, innovación e infraestructura"
                },
                {
                  "name": "ODS 10 Reducción de las desigualdades",
                  "value": "ODS 10 Reducción de las desigualdades"
                },
                {
                  "name": "ODS 11 Ciudades y comunidades sostenibles",
                  "value": "ODS 11 Ciudades y comunidades sostenibles"
                },
                {
                  "name": "ODS 12 Producción y consumo responsables",
                  "value": "ODS 12 Producción y consumo responsables"
                },
                {
                  "name": "ODS 13 Acción por el clima",
                  "value": "ODS 13 Acción por el clima"
                },
                {
                  "name": "ODS 14 Vida submarina",
                  "value": "ODS 14 Vida submarina"
                },
                {
                  "name": "ODS 15 Vida de ecosistemas terrestres",
                  "value": "ODS 15 Vida de ecosistemas terrestres"
                },
                {
                  "name": "ODS 16 Paz, justicia e instituciones sólidas",
                  "value": "ODS 16 Paz, justicia e instituciones sólidas"
                },
                {
                  "name": "ODS 17 Alianzas para lograr los objetivos",
                  "value": "ODS 17 Alianzas para lograr los objetivos"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "España",
                  "value": "España"
                },
                {
                  "name": "Argentina",
                  "value": "Argentina"
                },
                {
                  "name": "Chile",
                  "value": "Chile"
                },
                {
                  "name": "Colombia",
                  "value": "Colombia"
                },
                {
                  "name": "Ecuador",
                  "value": "Ecuador"
                },
                {
                  "name": "México",
                  "value": "México"
                },
                {
                  "name": "Perú",
                  "value": "Perú"
                },
                {
                  "name": "Internacional",
                  "value": "Internacional"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo revisión",
              "displayName": "Motivo revisión",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen WP",
              "displayName": "Imagen WP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fidelidad Score",
              "displayName": "Fidelidad Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4416,
        704
      ],
      "id": "20d2f1a8-502d-40b2-a484-a1b839372750",
      "name": "Airtable — Actualizar estado a En Revisión",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3408,
        864
      ],
      "id": "146f1201-ccb6-4d07-ad96-94084916b591",
      "name": "Limit — Primera imagen válida"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        688
      ],
      "id": "1211b5ca-22e9-4480-8843-aa7522a54885",
      "name": "WORD — Subir a Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1wA279XwHu14WAjk",
          "name": "Google Drive - Jordi Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0029f266-8de6-4ed2-a2a1-ee2ed53b787c",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/jpg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1323a5cf-3575-4634-849b-eedcbeaa0e57",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/jpeg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f158aaca-04dc-4c77-a9e0-b32f9316b527",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/png",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "extra-image-1",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/gif",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "extra-image-2",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/webp",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1056,
        912
      ],
      "id": "04213fe1-b5a8-41ed-9998-b0545bcd8db5",
      "name": "Imagen — Filtrar adjuntos válidos"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        688
      ],
      "id": "6ea7ec31-54e6-4349-a587-49f823b22c65",
      "name": "WORD — Descargar como PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1wA279XwHu14WAjk",
          "name": "Google Drive - Jordi Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"mimeType\": \"application/vnd.google-apps.document\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        688
      ],
      "id": "103cf3c1-ea35-408a-8eab-d95efa63e9c5",
      "name": "WORD — Convertir a Google Docs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1wA279XwHu14WAjk",
          "name": "Google Drive - Jordi Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('WORD — Subir a Google Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        528
      ],
      "id": "c7620401-f41e-4a58-beb8-f33bb4dcab49",
      "name": "Cleanup — Borrar WORD temporal",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1wA279XwHu14WAjk",
          "name": "Google Drive - Jordi Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4208,
        688
      ],
      "id": "88464eae-9b6a-4377-866e-fb676ed8e00e",
      "name": "Merge — Esperar adjuntos subidos"
    },
    {
      "parameters": {
        "mailbox": "Procesar",
        "downloadAttachments": true,
        "options": {
          "trackLastMessageId": false
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -608,
        320
      ],
      "id": "0a681cbc-6cd2-4c58-82b5-aab613011215",
      "name": "IMAP — Trigger Carpeta Procesar",
      "executeOnce": false,
      "credentials": {
        "imap": {
          "id": "eQvO6OL0TaAMxJ25",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filtered = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (item.binary?.data?.mimeType === 'application/pdf') {\n    const binaryBuffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const base64 = binaryBuffer.toString('base64');\n    filtered.push({\n      json: {\n        ...item.json,\n        fileBase64: base64,\n        fileName: item.binary.data.fileName,\n        mimeType: item.binary.data.mimeType,\n      },\n      binary: item.binary,\n    });\n  }\n}\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        512
      ],
      "id": "b6ed67a1-32c2-4ca3-aeff-d7bf152c19ef",
      "name": "Code — Preparar PDF para subida"
    },
    {
      "parameters": {
        "jsCode": "const filtered = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (item.binary?.data?.mimeType?.startsWith('image/')) {\n    const binaryBuffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const base64 = binaryBuffer.toString('base64');\n    filtered.push({\n      json: {\n        ...item.json,\n        fileBase64: base64,\n        fileName: item.binary.data.fileName,\n        mimeType: item.binary.data.mimeType,\n      },\n      binary: item.binary,\n    });\n  }\n}\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        784
      ],
      "id": "7ba54f47-244f-4732-988d-62ef7fdd2c0e",
      "name": "Code — Preparar imagen para subida"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/app5FkIV6cTNWoFeo/{{ $('Airtable — Crear registro').first().json.id }}/Imagen/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentType",
              "value": "={{ $json.mimeType }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.fileName }}"
            },
            {
              "name": "file",
              "value": "={{ $json.fileBase64 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        704
      ],
      "id": "858725a6-4dea-499b-bdd4-05065defc4e8",
      "name": "Airtable — Subir imagen original",
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/app5FkIV6cTNWoFeo/{{ $('Airtable — Crear registro').first().json.id }}/Imagen WP/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentType",
              "value": "={{ $input.item.binary.data.mimeType }}"
            },
            {
              "name": "filename",
              "value": "={{ $input.item.binary.data.fileName }}"
            },
            {
              "name": "file",
              "value": "={{ $json.fileBase64 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        864
      ],
      "id": "e94e97f9-ad69-4b23-ae0b-c068f0c247e7",
      "name": "Airtable — Subir imagen WP",
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=rfc822msgid:{{ $('IMAP — Trigger Carpeta Procesar').first().json.metadata['message-id'].replace('<', '').replace('>', '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4656,
        704
      ],
      "id": "083cc217-0b7e-4685-b89e-c126a41e75bc",
      "name": "Gmail — Buscar mensaje por Message-ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = binaryBuffer.toString('base64');\n\nreturn [{\n  json: {\n    ...item.json,\n    fileBase64: base64,\n    fileName: item.binary.data.fileName,\n    mimeType: item.binary.data.mimeType,\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        864
      ],
      "id": "fdd85960-f14c-4c9a-8349-3acdc3b676c4",
      "name": "Code — Preparar imagen WP para subida"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_4575785804962333449"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        528
      ],
      "id": "df41066a-16c6-43a0-a869-a77f45b3c1dd",
      "name": "Gmail — Trigger Carpeta Procesar",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.corresponsables.com/wp-json/wp/v2/posts/{{ $('Create a Post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"featured_media\": {{ $('Upload IMG to WP Media').item.json.id }} }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6896,
        704
      ],
      "id": "517399e7-3c19-4c53-a62b-922c7dc4b8da",
      "name": "Update Post w/ IMG",
      "credentials": {
        "wordpressApi": {
          "id": "gdh1j5rwYzfP1JgL",
          "name": "Wordpress - Gonzalo E."
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.corresponsables.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $json._imgFileName }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6064,
        704
      ],
      "id": "b4b1ca8a-a14e-419a-b832-31d4b2fa323a",
      "name": "Upload IMG to WP Media",
      "alwaysOutputData": false,
      "credentials": {
        "wordpressApi": {
          "id": "gdh1j5rwYzfP1JgL",
          "name": "Wordpress - Gonzalo E."
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6464,
        704
      ],
      "id": "d9188ea5-00ec-4670-92a3-8f495a17fd09",
      "name": "Limit2"
    },
    {
      "parameters": {
        "title": "={{ $('Get a record').item.json['Título periodístico'] }}",
        "additionalFields": {
          "content": "={{ '[sc name=\"modal_noticia\"][/sc]\\n' + $('Get a record').item.json['Cuerpo del contenido en HTML'] + '\\n<p><strong><em>Consulta más información responsable en las <a href=\"https://corresponsables.com/ver_publicaciones\" target=\"_blank\" rel=\"noopener noreferrer\">publicaciones Corresponsables</a>.</em></strong></p>' }}",
          "slug": "={{ $('Get a record').item.json.Slug }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        6688,
        704
      ],
      "id": "19704d32-32c3-4563-a830-43d022497d97",
      "name": "Create a Post",
      "credentials": {
        "wordpressApi": {
          "id": "gdh1j5rwYzfP1JgL",
          "name": "Wordpress - Gonzalo E."
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get a record').item.json.id }}",
            "Estado": "✅ Borrador WP Creado",
            "Fidelidad Score": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Asunto email",
              "displayName": "Asunto email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Aprobación",
              "displayName": "Aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "❌ Cancelado",
                  "value": "❌ Cancelado"
                },
                {
                  "name": "🔁 Guardando Email",
                  "value": "🔁 Guardando Email"
                },
                {
                  "name": "🔎 En Revisión",
                  "value": "🔎 En Revisión"
                },
                {
                  "name": "✋🏼 Procesando",
                  "value": "✋🏼 Procesando"
                },
                {
                  "name": "✅ Borrador WP Creado",
                  "value": "✅ Borrador WP Creado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen",
              "displayName": "Imagen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clean HTML",
              "displayName": "Clean HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contenido MD",
              "displayName": "Contenido MD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha de creación",
              "displayName": "Fecha de creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Categoria/s",
              "displayName": "Categoria/s",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Buen Gobierno",
                  "value": "Buen Gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Título periodístico",
              "displayName": "Título periodístico",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etiquetas",
              "displayName": "Etiquetas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extracto",
              "displayName": "Extracto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtítulo",
              "displayName": "Subtítulo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cuerpo del contenido en HTML",
              "displayName": "Cuerpo del contenido en HTML",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría NAE",
              "displayName": "Categoría NAE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Noticias",
                  "value": "Noticias"
                },
                {
                  "name": "Opinión",
                  "value": "Opinión"
                },
                {
                  "name": "Entrevistas",
                  "value": "Entrevistas"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ESG",
              "displayName": "Categoría ESG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Medioambiente",
                  "value": "Medioambiente"
                },
                {
                  "name": "Social",
                  "value": "Social"
                },
                {
                  "name": "Buen gobierno",
                  "value": "Buen gobierno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría ODS",
              "displayName": "Categoría ODS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ODS 1 Fin de la pobreza",
                  "value": "ODS 1 Fin de la pobreza"
                },
                {
                  "name": "ODS 2 Hambre cero",
                  "value": "ODS 2 Hambre cero"
                },
                {
                  "name": "ODS 3 Salud y bienestar",
                  "value": "ODS 3 Salud y bienestar"
                },
                {
                  "name": "ODS 4 Educación de calidad",
                  "value": "ODS 4 Educación de calidad"
                },
                {
                  "name": "ODS 5 Igualdad de género",
                  "value": "ODS 5 Igualdad de género"
                },
                {
                  "name": "ODS 6 Agua limpia y saneamiento",
                  "value": "ODS 6 Agua limpia y saneamiento"
                },
                {
                  "name": "ODS 7 Energía asequible y no contaminante",
                  "value": "ODS 7 Energía asequible y no contaminante"
                },
                {
                  "name": "ODS 8 Trabajo decente y crecimiento económico",
                  "value": "ODS 8 Trabajo decente y crecimiento económico"
                },
                {
                  "name": "ODS 9 Industria, innovación e infraestructura",
                  "value": "ODS 9 Industria, innovación e infraestructura"
                },
                {
                  "name": "ODS 10 Reducción de las desigualdades",
                  "value": "ODS 10 Reducción de las desigualdades"
                },
                {
                  "name": "ODS 11 Ciudades y comunidades sostenibles",
                  "value": "ODS 11 Ciudades y comunidades sostenibles"
                },
                {
                  "name": "ODS 12 Producción y consumo responsables",
                  "value": "ODS 12 Producción y consumo responsables"
                },
                {
                  "name": "ODS 13 Acción por el clima",
                  "value": "ODS 13 Acción por el clima"
                },
                {
                  "name": "ODS 14 Vida submarina",
                  "value": "ODS 14 Vida submarina"
                },
                {
                  "name": "ODS 15 Vida de ecosistemas terrestres",
                  "value": "ODS 15 Vida de ecosistemas terrestres"
                },
                {
                  "name": "ODS 16 Paz, justicia e instituciones sólidas",
                  "value": "ODS 16 Paz, justicia e instituciones sólidas"
                },
                {
                  "name": "ODS 17 Alianzas para lograr los objetivos",
                  "value": "ODS 17 Alianzas para lograr los objetivos"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "España",
                  "value": "España"
                },
                {
                  "name": "Argentina",
                  "value": "Argentina"
                },
                {
                  "name": "Chile",
                  "value": "Chile"
                },
                {
                  "name": "Colombia",
                  "value": "Colombia"
                },
                {
                  "name": "Ecuador",
                  "value": "Ecuador"
                },
                {
                  "name": "México",
                  "value": "México"
                },
                {
                  "name": "Perú",
                  "value": "Perú"
                },
                {
                  "name": "Internacional",
                  "value": "Internacional"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo revisión",
              "displayName": "Motivo revisión",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Imagen WP",
              "displayName": "Imagen WP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fidelidad Score",
              "displayName": "Fidelidad Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        7728,
        704
      ],
      "id": "2bb6f3a4-c84a-4577-b780-6a001ffef60e",
      "name": "Status: Borrador creado en WP",
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const WP_API_URL = \"https://www.corresponsables.com/wp-json/wp/v2\";\nconst USER = \"noticias@corresponsables.com\";\nconst APP_PASSWORD = \"TlRg KQVP j6g6 UnLB fEWG ggCm\";\nconst POST_ID = $('Create a Post').first().json.id;\nconst rawTags = $('Get a record').first().json['Etiquetas'] ?? '';\nconst tagsToAssign = rawTags.split('|').map(t => t.trim()).filter(t => t.length > 0);\n\nif (tagsToAssign.length === 0) {\n  return [{ json: { message: 'Sin etiquetas, nada que asignar.' } }];\n}\n\nasync function ensureTagExists(tagName) {\n  // 1. Buscar si ya existe\n  const search = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${WP_API_URL}/tags`,\n    qs: { search: tagName },\n    auth: { username: USER, password: APP_PASSWORD },\n    json: true\n  });\n\n  if (Array.isArray(search) && search.length > 0) {\n    const exact = search.find(t => t.name.toLowerCase() === tagName.toLowerCase());\n    if (exact) return { id: exact.id, name: exact.name };\n  }\n\n  // 2. Intentar crear — capturamos term_exists con ignoreHttpStatusErrors\n  const res = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: `${WP_API_URL}/tags`,\n    body: { name: tagName },\n    auth: { username: USER, password: APP_PASSWORD },\n    json: true,\n    ignoreHttpStatusErrors: true\n  });\n\n  if (res.code === 'term_exists') {\n    return { id: res.data.term_id, name: tagName };\n  }\n\n  return { id: res.id, name: res.name };\n}\n\nasync function run() {\n  const tagObjects = [];\n\n  for (const tagName of tagsToAssign) {\n    const tag = await ensureTagExists(tagName);\n    tagObjects.push(tag);\n  }\n\n  const tagIds = tagObjects.map(t => t.id);\n\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: `${WP_API_URL}/posts/${POST_ID}`,\n    body: { tags: tagIds },\n    auth: { username: USER, password: APP_PASSWORD },\n    json: true\n  });\n\n  return [{ json: { success: true, tags: tagObjects } }];\n}\n\nreturn run();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7104,
        704
      ],
      "id": "fcedcc04-6041-48c2-afaf-b330cdc3066c",
      "name": "Create/Add Tags"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.corresponsables.com/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alt_text\": \"{{ $('Get a record').item.json['Título periodístico'] }}\",\n  \"description\": \"{{ $('Get a record').item.json.Description }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6256,
        704
      ],
      "id": "3f927c93-801d-426f-bc41-ab3cdbe3015c",
      "name": "Add Alt text to IMG",
      "alwaysOutputData": false,
      "credentials": {
        "wordpressApi": {
          "id": "gdh1j5rwYzfP1JgL",
          "name": "Wordpress - Gonzalo E."
        }
      }
    },
    {
      "parameters": {
        "content": "## 🟢 BLOQUE 4 — Creación del borrador en WordPress\n\nIncluye:\n- Creación del borrador en WordPress a partir de datos en Airtable",
        "height": 832,
        "width": 3216
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5616,
        256
      ],
      "typeVersion": 1,
      "id": "af9b93a1-5eab-4770-8489-b3898601a211",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const record = $('Get a record').first().json;\n\n// Airtable multi-select returns arrays; single-select returns string\nconst toArray = val => Array.isArray(val) ? val : (val ? [val] : []);\n\nconst categoríasNAE = toArray(record['Categoría NAE']);\nconst categoríasESG = toArray(record['Categoría ESG']);\nconst categoríasODS = toArray(record['Categoría ODS']);\n\nconst mapNAE = {\n  'Noticias': 218,\n  'Opinión': 144,\n  'Entrevistas': 118\n};\n\nconst mapESG = {\n  'Medioambiente': 6,\n  'Social': 13,\n  'Buen gobierno': 12\n};\n\nconst mapODS = {\n  'ODS 1 Fin de la pobreza': 4,\n  'ODS 2 Hambre cero': 5,\n  'ODS 3 Salud y bienestar': 129,\n  'ODS 4 Educación de calidad': 130,\n  'ODS 5 Igualdad de género': 131,\n  'ODS 6 Agua limpia y saneamiento': 132,\n  'ODS 7 Energía asequible y no contaminante': 133,\n  'ODS 8 Trabajo decente y crecimiento económico': 134,\n  'ODS 9 Industria, innovación e infraestructura': 135,\n  'ODS 10 Reducción de las desigualdades': 136,\n  'ODS 11 Ciudades y comunidades sostenibles': 137,\n  'ODS 12 Producción y consumo responsables': 138,\n  'ODS 13 Acción por el clima': 139,\n  'ODS 14 Vida submarina': 140,\n  'ODS 15 Vida de ecosistemas terrestres': 141,\n  'ODS 16 Paz, justicia e instituciones sólidas': 142,\n  'ODS 17 Alianzas para lograr los objetivos': 143\n};\n\nconst categories = [\n  ...categoríasNAE.map(v => mapNAE[v]).filter(id => id !== undefined),\n  ...categoríasESG.map(v => mapESG[v]).filter(id => id !== undefined),\n  ...categoríasODS.map(v => mapODS[v]).filter(id => id !== undefined),\n];\n\nreturn [{ json: { categories } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        704
      ],
      "id": "3f6493dc-d821-4dda-8f3a-9e7f2338dc8a",
      "name": "Map — Categorías a IDs WordPress"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app5FkIV6cTNWoFeo",
          "mode": "list",
          "cachedResultName": "CMS Wordpress",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo"
        },
        "table": {
          "__rl": true,
          "value": "tblVkszOGc9BXmwug",
          "mode": "list",
          "cachedResultName": "Publicaciones",
          "cachedResultUrl": "https://airtable.com/app5FkIV6cTNWoFeo/tblVkszOGc9BXmwug"
        },
        "id": "={{ $('Airtable — Crear registro').item.json.id }}",
        "options": {
          "downloadFields": [
            "Imagen WP"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5680,
        704
      ],
      "id": "ab784100-4b69-4278-8fac-4c40de4e2341",
      "name": "Get a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ilfdijSfllKn4Pnd",
          "name": "Airtable PAT Jordi Puente"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const record = $('Get a record').first().json;\nconst postId = $('Create a Post').first().json.id;\nconst categories = $('Map — Categorías a IDs WordPress').first().json.categories;\n\nconst subtitulo = record['Subtítulo'] ?? '';\nconst description = record['Description'] ?? '';\nconst excerpt = record['Extracto'] ?? '';\nconst rawHighlights = record['Highlights'] ?? '';\n\nconst highlights = rawHighlights\n  .split('|')\n  .map(h => h.trim())\n  .filter(h => h.length > 0)\n  .map(h => ({ point: h }));\n\nconst WP_API_URL = 'https://www.corresponsables.com/wp-json/wp/v2';\nconst AUTH = { username: 'noticias@corresponsables.com', password: 'TlRg KQVP j6g6 UnLB fEWG ggCm' };\n\nconst res1 = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${WP_API_URL}/posts/${postId}`,\n  body: { tagline: subtitulo, highlights: highlights, excerpt: excerpt },\n  auth: AUTH,\n  json: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst res2 = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${WP_API_URL}/posts/${postId}`,\n  body: { categories: categories },\n  auth: AUTH,\n  json: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst res3 = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${WP_API_URL}/posts/${postId}`,\n  body: { \n    meta: { \n      _yoast_wpseo_metadesc: description,\n      _yoast_wpseo_primary_category: categories[0]\n    } \n  },\n  auth: AUTH,\n  json: true,\n  ignoreHttpStatusErrors: true\n});\n\nreturn [{ json: {\n  postId,\n  tagline: res1.tagline,\n  highlights: res1.highlights,\n  excerpt: res1.excerpt,\n  categories: res2.categories,\n  yoast_metadesc: res3.meta?._yoast_wpseo_metadesc,\n  yoast_primary: res3.meta?._yoast_wpseo_primary_category,\n  meta_completo: res3.meta\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        704
      ],
      "id": "694d0be1-7a76-4ff8-ad0e-d12887d91e82",
      "name": "Update post fields"
    },
    {
      "parameters": {
        "jsCode": "// Get a record con downloadFields devuelve la imagen con una clave dinámica\n// (ej: \"Imagen WP_0\"). La renombramos a 'data' para que Upload IMG to WP Media la encuentre.\nconst item = items[0];\nconst binaries = item.binary ?? {};\n\n// Buscar la primera clave que contenga imagen\nconst imgKey = Object.keys(binaries).find(k => \n  binaries[k].mimeType?.startsWith('image/') || k.toLowerCase().includes('imagen')\n) ?? Object.keys(binaries)[0];\n\nif (!imgKey) {\n  throw new Error('No se encontró imagen binaria en el item de Airtable');\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    _imgFileName: binaries[imgKey].fileName,\n    _imgMimeType: binaries[imgKey].mimeType,\n  },\n  binary: {\n    data: binaries[imgKey]  // renombrar a 'data'\n  }\n}];"
      },
      "id": "0b2ea680-0f20-400c-9ad9-e9a755f572a9",
      "name": "Normalizar imagen WP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        704
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail — Quitar etiqueta Procesar').item.json.id }}\n",
        "labelIds": [
          "Label_4535128483547211696"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7936,
        704
      ],
      "id": "7b2aa029-f46c-40b3-8c26-dc101c68c42b",
      "name": "Gmail — Añadir etiqueta Publicado",
      "webhookId": "09e34cc9-3023-474b-bf95-27f71f17915f",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Gmail — Quitar etiqueta Procesar').item.json.id }}",
        "labelIds": [
          "Label_6055473966553915601"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8128,
        704
      ],
      "id": "ebc7b46a-f681-4cea-9a25-8a90f0e2fc5d",
      "name": "Gmail — Quitar etiqueta Procesando",
      "webhookId": "3c328668-9928-44ab-8d4d-c93945e1e9da",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJrkv2pPrDxhgDM",
          "name": "Gmail - Noticias Corresponsables"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IF — Asunto es contenido procesable": {
      "main": [
        [
          {
            "node": "Code — Separar adjuntos en ítems",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STOP — Email no procesable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen — Redimensionar a 1005x475 WebP": {
      "main": [
        [
          {
            "node": "Code — Preparar imagen WP para subida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Añadir etiqueta Procesado": {
      "main": [
        [
          {
            "node": "Gmail — Quitar etiqueta Procesar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Separar adjuntos en ítems": {
      "main": [
        [
          {
            "node": "IF — Es documento (PDF/DOCX/DOC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Es documento (PDF/DOCX/DOC)": {
      "main": [
        [
          {
            "node": "Code — Seleccionar primer documento válido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Imagen — Filtrar adjuntos válidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Seleccionar primer documento válido": {
      "main": [
        [
          {
            "node": "Switch — Tipo de documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Tipo de documento": {
      "main": [
        [
          {
            "node": "PDF — Extraer texto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Registro + adjuntos",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "WORD — Subir a Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WORD — Subir a Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF — Extraer texto": {
      "main": [
        [
          {
            "node": "AI — Extraer y clasificar contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Extraer y clasificar contenido": {
      "main": [
        [
          {
            "node": "AI — Validar fidelidad y empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Validar fidelidad y empresa": {
      "main": [
        [
          {
            "node": "AI — Generar SEO y metadatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Generar SEO y metadatos": {
      "main": [
        [
          {
            "node": "Airtable — Crear registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Crear registro": {
      "main": [
        [
          {
            "node": "Merge — Registro + adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Registro + adjuntos": {
      "main": [
        [
          {
            "node": "Code — Preparar PDF para subida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Preparar imagen para subida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Subir documento PDF": {
      "main": [
        [
          {
            "node": "Merge — Esperar adjuntos subidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Actualizar estado a En Revisión": {
      "main": [
        [
          {
            "node": "Gmail — Buscar mensaje por Message-ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit — Primera imagen válida": {
      "main": [
        [
          {
            "node": "Imagen — Redimensionar a 1005x475 WebP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WORD — Subir a Google Drive": {
      "main": [
        [
          {
            "node": "WORD — Convertir a Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen — Filtrar adjuntos válidos": {
      "main": [
        [
          {
            "node": "Merge — Registro + adjuntos",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "WORD — Descargar como PDF": {
      "main": [
        [
          {
            "node": "Cleanup — Borrar WORD temporal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Registro + adjuntos",
            "type": "main",
            "index": 2
          },
          {
            "node": "PDF — Extraer texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WORD — Convertir a Google Docs": {
      "main": [
        [
          {
            "node": "WORD — Descargar como PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup — Borrar WORD temporal": {
      "main": [
        [
          {
            "node": "Cleanup — Borrar Google Doc temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Esperar adjuntos subidos": {
      "main": [
        [
          {
            "node": "Airtable — Actualizar estado a En Revisión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP — Trigger Carpeta Procesar": {
      "main": [
        [
          {
            "node": "IF — Asunto es contenido procesable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Preparar PDF para subida": {
      "main": [
        [
          {
            "node": "Airtable — Subir documento PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Preparar imagen para subida": {
      "main": [
        [
          {
            "node": "Limit — Primera imagen válida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable — Subir imagen original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Subir imagen original": {
      "main": [
        [
          {
            "node": "Merge — Esperar adjuntos subidos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Airtable — Subir imagen WP": {
      "main": [
        [
          {
            "node": "Merge — Esperar adjuntos subidos",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Gmail — Buscar mensaje por Message-ID": {
      "main": [
        [
          {
            "node": "Gmail — Añadir etiqueta Procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Preparar imagen WP para subida": {
      "main": [
        [
          {
            "node": "Airtable — Subir imagen WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post w/ IMG": {
      "main": [
        [
          {
            "node": "Create/Add Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload IMG to WP Media": {
      "main": [
        [
          {
            "node": "Add Alt text to IMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Create a Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Post": {
      "main": [
        [
          {
            "node": "Update Post w/ IMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Add Tags": {
      "main": [
        [
          {
            "node": "Map — Categorías a IDs WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Alt text to IMG": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map — Categorías a IDs WordPress": {
      "main": [
        [
          {
            "node": "Update post fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update post fields": {
      "main": [
        [
          {
            "node": "Status: Borrador creado en WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Normalizar imagen WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Quitar etiqueta Procesar": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar imagen WP": {
      "main": [
        [
          {
            "node": "Upload IMG to WP Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Borrador creado en WP": {
      "main": [
        [
          {
            "node": "Gmail — Añadir etiqueta Publicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Añadir etiqueta Publicado": {
      "main": [
        [
          {
            "node": "Gmail — Quitar etiqueta Procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d4c60105-71ac-4195-86ce-bbff75c54da0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4be3cf3d35b85ad6682e04988a9bb06bcccdd4b45325e52bbf853c7cfe8fce64"
  },
  "id": "yCBGvusRCw9PBG5s",
  "tags": [
    {
      "updatedAt": "2025-09-10T14:54:36.194Z",
      "createdAt": "2025-09-10T14:54:36.194Z",
      "id": "B9ctjwzuOcc6qsy6",
      "name": "NdP"
    }
  ]
}